body {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  padding: 2rem;
  margin: 0 auto;
  max-width: 100ch;
  display: flex;
  justify-content: center;
}

.song-meta {
  margin: 3rem 0;
}

.song-title {
  margin: 0;
  margin-bottom: 1rem;
}

.line {
  display: flex;
  margin-bottom: 0.5rem;
}

.chord {
  font-weight: bold;
  height: 1rem;
  margin-bottom: 0.5rem;
}

/* Editor */

.editor {
  display: flex;
}

.editor-container {
  padding: 2rem;
}

.editor-table {
  width: 75%;
  padding: 2rem;
}

.editor-line {
  margin-bottom: 2rem;
}